* {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden;
  font-family: "News Cycle", sans-serif;
  font-size: 18px;
  background-color: #f7f7f7;
  letter-spacing: 0.8px;
  margin-bottom: 93px; }

.nav {
  width: 100%;
  padding: 0;
  z-index: 1;
  margin: 0;
  display: block;
  background: #ed950f;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(0);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-align: right;
  text-transform: uppercase;
  color: #fff; }
  .nav ul {
    margin: 34px;
    padding-left: 0; }
    .nav ul li {
      font-size: 20px;
      list-style: none;
      display: inline-block;
      margin: 0 4px; }
      .nav ul li:hover {
        color: #424242;
        background-color: #ed950f; }
      .nav ul li.subscribe-button {
        float: left; }
  .nav .nav-close {
    display: none; }

.nav-closed .nav {
  transform: translateY(100%); }

.nav-opened .site-wrapper {
  padding-bottom: 93px; }

.menu-button {
  padding: 0 0.6rem;
  background-color: #f7f7f7;
  color: #ed950f;
  border-radius: 5px;
  padding: 6px 12px;
  border: 1px solid #ed950f;
  float: right; }

a {
  text-decoration: none;
  color: inherit; }

.tag-cloud {
  text-align: center;
  padding: 12px;
  margin-bottom: 2px;
  width: 100%;
  background-color: #f7f7f7; }
  .tag-cloud a {
    margin-bottom: 4px;
    text-transform: lowercase;
    display: inline-block;
    color: #fff;
    background-color: #ed950f;
    padding: 4px 12px 6px 12px; }

.main-header {
  color: #686868;
  margin: 0 2rem; }

.pagination {
  display: block;
  text-align: center; }
  .pagination a {
    color: #ed950f; }

main {
  max-width: 1000px;
  margin: auto auto; }

article {
  padding: 12px;
  margin-top: 2rem;
  padding-bottom: 4rem;
  color: #686868;
  border-bottom: 4px solid #ececec; }
  article:last-of-type {
    margin-bottom: 2rem; }
  article .read-more {
    color: #ed950f; }

.post-title {
  color: #424242; }

.post-header h2 {
  margin-bottom: 0; }

.home-template .content h2,
.home-template .content h3,
.home-template .content h4,
.home-template .content h5,
.home-template .content h6,
.post-template .content h2,
.post-template .content h3,
.post-template .content h4,
.post-template .content h5,
.post-template .content h6,
.archive-template .content h2,
.archive-template .content h3,
.archive-template .content h4,
.archive-template .content h5,
.archive-template .content h6,
.author-template .content h2,
.author-template .content h3,
.author-template .content h4,
.author-template .content h5,
.author-template .content h6,
.tag-template .content h2,
.tag-template .content h3,
.tag-template .content h4,
.tag-template .content h5,
.tag-template .content h6 {
  color: #ed950f; }
.home-template .content .post-content a,
.post-template .content .post-content a,
.archive-template .content .post-content a,
.author-template .content .post-content a,
.tag-template .content .post-content a {
  color: #ed950f; }
.home-template .content figure,
.post-template .content figure,
.archive-template .content figure,
.author-template .content figure,
.tag-template .content figure {
  display: table;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 4rem; }
  .home-template .content figure img,
  .post-template .content figure img,
  .archive-template .content figure img,
  .author-template .content figure img,
  .tag-template .content figure img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    vertical-align: middle;
    max-height: 80vh; }
  .home-template .content figure figcaption,
  .post-template .content figure figcaption,
  .archive-template .content figure figcaption,
  .author-template .content figure figcaption,
  .tag-template .content figure figcaption {
    float: left;
    width: 100%;
    position: relative;
    display: block;
    margin-top: -3rem;
    height: auto;
    padding-left: 1rem;
    line-height: 3rem;
    background-color: rgba(247, 247, 247, 0.81);
    color: #424242;
    transition: transform 0.2s, opacity 0.2s;
    transform: translateY(46%);
    opacity: 0; }
  .home-template .content figure:hover figcaption,
  .post-template .content figure:hover figcaption,
  .archive-template .content figure:hover figcaption,
  .author-template .content figure:hover figcaption,
  .tag-template .content figure:hover figcaption {
    transform: translateY(0);
    opacity: 1; }
.home-template .post-meta,
.post-template .post-meta,
.archive-template .post-meta,
.author-template .post-meta,
.tag-template .post-meta {
  text-align: center; }
  .home-template .post-meta .post-meta-main,
  .post-template .post-meta .post-meta-main,
  .archive-template .post-meta .post-meta-main,
  .author-template .post-meta .post-meta-main,
  .tag-template .post-meta .post-meta-main {
    margin: 1rem 0; }
    .home-template .post-meta .post-meta-main img.author-thumb,
    .post-template .post-meta .post-meta-main img.author-thumb,
    .archive-template .post-meta .post-meta-main img.author-thumb,
    .author-template .post-meta .post-meta-main img.author-thumb,
    .tag-template .post-meta .post-meta-main img.author-thumb {
      margin: 0 auto 1rem auto;
      display: block; }
    .home-template .post-meta .post-meta-main .author-name,
    .home-template .post-meta .post-meta-main time,
    .post-template .post-meta .post-meta-main .author-name,
    .post-template .post-meta .post-meta-main time,
    .archive-template .post-meta .post-meta-main .author-name,
    .archive-template .post-meta .post-meta-main time,
    .author-template .post-meta .post-meta-main .author-name,
    .author-template .post-meta .post-meta-main time,
    .tag-template .post-meta .post-meta-main .author-name,
    .tag-template .post-meta .post-meta-main time {
      display: inline-block; }
  .home-template .post-meta .author-thumb,
  .post-template .post-meta .author-thumb,
  .archive-template .post-meta .author-thumb,
  .author-template .post-meta .author-thumb,
  .tag-template .post-meta .author-thumb {
    width: 50px;
    height: auto;
    border-radius: 100%; }
  .home-template .post-meta .author-name,
  .post-template .post-meta .author-name,
  .archive-template .post-meta .author-name,
  .author-template .post-meta .author-name,
  .tag-template .post-meta .author-name {
    font-weight: bold; }
  .home-template .post-meta .tag-link,
  .post-template .post-meta .tag-link,
  .archive-template .post-meta .tag-link,
  .author-template .post-meta .tag-link,
  .tag-template .post-meta .tag-link {
    text-transform: lowercase; }
  .home-template .post-meta span:last-of-type,
  .post-template .post-meta span:last-of-type,
  .archive-template .post-meta span:last-of-type,
  .author-template .post-meta span:last-of-type,
  .tag-template .post-meta span:last-of-type {
    display: none; }

.author-profile {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 4px solid #ececec;
  text-align: center; }
  .author-profile .author-meta span {
    color: #ed950f; }
    .author-profile .author-meta span:not(:last-child) {
      margin-right: 2rem; }

.post-footer {
  margin-top: 2rem;
  border-top: 4px solid #ececec; }
  .post-footer .share,
  .post-footer .author {
    display: inline-block; }
  .post-footer .author {
    width: 80%; }
    .post-footer .author .author-link {
      color: #ed950f; }
  .post-footer .share {
    float: right;
    text-align: right; }
    .post-footer .share .fa {
      font-size: 2em;
      color: #ed950f; }
      .post-footer .share .fa:hover {
        color: #ed950f; }

.site-footer {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center; }
  .site-footer section {
    display: block;
    width: 100%; }

.hidden {
  display: none; }

a.hvr-fade {
  display: initial !important;
  vertical-align: initial !important;
  color: #ed950f; }
  a.hvr-fade:hover {
    background-color: inherit;
    color: #424242; }

.gh-subscribe .form-group {
  display: inline-block;
  float: left; }
.gh-subscribe .submit, .gh-subscribe input {
  border-radius: 5px;
  height: 40px;
  padding: .2em .4em;
  font-family: inherit;
  letter-spacing: inherit;
  transition: all 0.2s;
  cursor: pointer; }
.gh-subscribe .submit {
  margin-left: 6px; }
  .gh-subscribe .submit:hover {
    background: #ed950f;
    color: #fff; }

input.subscribe-email {
  background: #f7f7f7;
  width: 250px;
  border: 1px solid #ed950f; }
  input.subscribe-email:focus {
    outline: none;
    background: #fff; }

twitterwidget {
  display: block !important;
  margin-left: auto;
  margin-right: auto; }

@media only screen and (max-width: 600px) {
  .nav ul li.subscribe-button {
    float: none; } }

/*# sourceMappingURL=finnian.css.map */
